
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: block;
}


.contenedor-principal {
    width: 80%;
    height: 95vh;
    margin: 0 auto; 
    background-color: #ffffff;
    border: 2px solid #87ceeb;
    display: block;
}


.encabezado {
    width: 100%;
    height: 20%;
    background-color: #ff7f50; 
    display: block;
}


.contenido-principal {
    width: 100%;
    height: 65%; 
    display: block;
    overflow: hidden; 
    font-size: 0; 
}


.columna-izquierda {
    width: 65%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px; 
}


.bloque-gris {
    width: 100%;
    height: calc((100% - 40px) / 3); 
    background-color: #d3d3d3; 
    border: 2px solid #87ceeb; 
    margin-bottom: 20px;
    display: block;
    box-sizing: border-box;
}


.columna-izquierda .bloque-gris:last-child {
    margin-bottom: 0;
}


.columna-derecha {
    width: 35%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px; 
}


.navegacion {
    width: 100%;
    background-color: #008080; 
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}


.nav-item {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    font-family: Arial, sans-serif;
}


.bloque-amarillo {
    width: 100%;
    height: calc((100% - 100px) / 4); 
    background-color: #ffff99; 
    border: 2px solid #ffa500; 
    margin-bottom: 20px;
    display: block;
    box-sizing: border-box;
}


.columna-derecha .bloque-amarillo:last-child {
    margin-bottom: 0;
}


.pie-pagina {
    width: 100%;
    height: 15%;
    background-color: #ffb6c1; 
    display: block;
}

