
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border: 2px solid #87ceeb;
    position: relative;
}

.elemento-rojo {
    width: 150px;
    height: 150px;
    background-color: #ff0000;
    position: absolute;
    top: 60%;
    left: 60%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

